body{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url('../Images/bg-img1.jpg');
  backdrop-filter: blur(25px);
  background-position-x: center;
  background-repeat: no-repeat;
  margin:0;
  color:#999;
}

fieldset{
  width:300px;
  text-align: center;
  background-color: rgba(7, 7, 7, 0.2);
  padding:20px;
  border:none;
  box-shadow: 0 0 20px rgba(12, 11, 11, 0.1);
  
}
fieldset img{
  height:200px;
}
fieldset h1{
  margin-top:-30px;
  font-size: 2rem;
  color:#ffbd59;
}
input{
  display: block;
  width:80%;
  margin: 10px;
  outline: 0;
  border:none;
  font-weight: 700;
  padding:5px 0 5px 5px;
  transition:0.5s;
  color:#222;
}
input:hover,input:focus{
  background:rgba(248, 236, 236, 0.9);
}
input[type='submit']{
  width:82%;
  outline:0;
  transition:0.5s;
  cursor: pointer;
}
input[type='submit']:hover{
  background: rgb(255, 188, 87);
  color:#fff;
}
p{
  font-weight: 500;
}

a{
  padding-left:3px;
  text-decoration: none;
  color:#aa9898;
  font-weight:bold;
  transition:0.5s;
}
a:hover{
  color:#ffbd59;
}
