@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=fallback");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
:root {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  * {
    font-family: "Montserrat", sans-serif;
  }
  body {
    margin: 0;
    background: radial-gradient(
      circle,
      rgba(253, 245, 234, 0.5) 0%,
      rgba(217, 222, 228, 1) 100%
    );
  }
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #ffbd59;
  border-radius: 5rem;
}
/* header sectiom */
.header-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  background-color: rgba(14, 13, 13, 0.7);
  padding: 5px 80px;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.loader img {
  transition: 1s;
  animation: loading 1s ease-in infinite;
}
.loader.loader-hidden {
  visibility: hidden;
  opacity: 0;
}
.logo img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}
.left {
  position: relative;
  display: flex;
  transition: 0.6s;
}
.left li {
  position: relative;
  list-style: none;
  transition: 0.6s;
}
.left a {
  position: relative;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}
.left a i {
  transition: 0.6s;
  padding-right: 20px;
}
.save {
  background: none;
  border: none;
}
.save {
  position: relative;
  transition: 0.6s;
}
.tool-tip {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 10px;
  color: #fff;
  width: 180px;
  background-color: #192733;
  border: 1px solid;
  padding: 10px 15px;
}
.save:hover .tool-tip {
  visibility: visible;
}

.left a i:hover,
.log__out {
  color: #ffbd59;
}
.nav {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.nav li a {
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}
.nav li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ffbd59;
  transition: 0.3s;
}
.nav li a:hover::after {
  width: 100%;
}
.nav li a:hover {
  color: #ffbd59;
}
button.search {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.6s;
  cursor: pointer;
}
.search:hover {
  color: #ffbd59;
}
.nav-toggler {
  position: fixed;
  top: 50%;
  left: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding-left: 10px;
  color: #fff;
  font-size: 2rem;
  background: rgba(15, 14, 17, 0.5);
  transition: 0.6s;
  cursor: pointer;
  z-index: 1500;
}
.nav-toggler span:nth-child(odd) {
  border: 1px solid #ffbd59;
  display: block;
  transition: 0.3s;
  width: 30px;
}
.nav-toggler span:nth-child(even) {
  border: 1px solid #ffbd59;
  display: block;
  transition: 0.3s;
  width: 25px;
}
.nav-toggler:hover span:nth-child(odd) {
  width: 25px;
}
.nav-toggler:hover span:nth-child(even) {
  width: 20px;
}

.menu-close {
  position: absolute;
  top: 20px;
  left: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.6s;
  z-index: 3000;
  cursor: pointer;
}
.menu-close:hover {
  color: #ffbd59;
}
.log__out {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: initial;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -15px;
}

/* Main content */
.img_top_about {
  position: relative;
  object-fit: cover;
}
.about_us {
  font-size: 4rem;
  position: absolute;
  top: 200px;
  right: 100px;
  font-weight: 700;
}
.ourstory {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 220px;
}
.family {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #c19d56;
}
.tradition {
  font-size: 3.3rem;
  font-weight: 700;
}
.text_our_story {
  padding: 20px;
}
.text_our_story {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 50%;
  top: 100%;
  font-family: "Cormorant", serif;
  margin-bottom: 5rem;
}
.Images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__mid {
  height: 600px;
  object-fit: cover;
  border-right: white 5px solid;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.test_img {
  width: 20%;
}
.test_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.test_img:hover {
  transform: scale(0.98);
  transition: transform 0.5s ease-in-out;
  visibility: visible;
  background-color: rgba(184, 184, 184, 0.7);
  filter: blur(2px);
  z-index: 2;
  visibility: visible;
}

.middle_view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.abb {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_out_tra {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #c19d56;
}
.tradition {
  border-top: #c19d56 2px solid;
  border-bottom: #c19d56 2px solid;
}
.about_out_tradition {
  margin-bottom: 1rem;
  font-size: 3.3rem;
  font-weight: 700;
  border-bottom: #c19d56 2px solid;
}
.about_out_tradition_text {
  padding: 20px;
  text-align: center;
  width: 70rem;
}
.right_text_top {
  font-size: 2rem;
  margin-bottom: 25px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: #c19d56;
}
.img_middle_about {
  width: 40%;
}

.right_text {
  width: 40%;
  text-align: center;
  padding: 20px;
  font-family: "Cormorant", serif;
}
.num_counting {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 150px;
}
.num1,
.num2,
.num3 {
  font-size: 7rem;
  font-family: "Dancing Script", cursive;
  color: #c19d56;
}
.num_text {
  font-size: 1.5rem;
  text-align: center;
}
.count::after {
  content: "+";
  width: 20px;
  height: 20px;
}
.num_text_bottom {
  margin-top: 5px;
}

/* Footer */
svg path {
  fill: #ffbd59;
  fill-opacity: 0.7;
}
footer {
  background: linear-gradient(to bottom, #1d1818, #2c2a2a);
  color: #ffbd59;
  padding: 40px 0 0;
  line-height: 1.2;
}
.footer-container {
  display: flex;
  padding: 0 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info,
.about-us,
.social-media {
  flex-basis: 30%;
  margin-bottom: 20px;
  line-height: 1.2;
}

.contact-info h3,
.about-us h3,
.social-media h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.contact-info h3 {
  text-align: left;
  padding-left: 20px;
}

.contact-info p,
.about-us p {
  margin: 0;
  color: #fff;
  line-height: 1.5;
}
.contact-info p a {
  color: #ffbd59;
  text-decoration: none;
}
.about-us p {
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #ffbd59;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
}

.legal-info {
  padding-top: 40px;
  margin-bottom: -15px;
  text-align: center;
}

.legal-info p {
  color: #fff;
  margin: 0;
}

.legal-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.legal-links li {
  display: inline-block;
  margin-right: 10px;
}

.legal-links a {
  color: #ffbd59;
  text-decoration: none;
  transition: color 0.3s ease;
}

.legal-links a:hover {
  color: #fff;
}
.hidden {
  display: none;
}
/* keframes */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInUP {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1000px) {
}
