<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Resources/CSS/about.css">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  <link rel="icon" type="image/png" href="../../Resources/Images/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <title>About Us | Hagurash</title>

</head>
<body>
  <header>
    <button class='nav-toggler'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-top">
      <a href="#" class="logo"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
      <nav>
        <button class="menu-close hidden">&times;</button>
        <a href="#" class="logo hidden"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="recipes.html">Recipes & Menus</a></li>
          <li><a href="video.html">Videos</a></li>
          <li><a href="about.html" style="color:#ffbd59">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          </ul>
          <div class="hidden">
            <span class="follow">Follow <span style="color:#ffbd59">Hagurash!</span></span>
            <a href="https://www.facebook.com/hagurash"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/hagurash"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/hagurash"><i class="fa-brands fa-twitter"></i></a><br>
            <a href="login.html"><button class="sign-inn">Sign In</button></a>
          </div>
      </nav>
      <ul class="left">
        <li><button class="save"><a href="saved.html"><i class="fa-solid fa-heart"></i></i></a><span class="tool-tip">Sign in to see saved recipes</span></button></li>
        <li><button class="log-in hidden"></button></li>
        <li><button class="search"><a href="recipes.html"><i class="fa-solid fa-magnifying-glass"></i></a></button></li>
      </ul>  
    </div>
  </header>
    <main>
      <section class="top_view" >
      <img src="../../Resources/Images/about1.jpg" class="img_top_about" width="100%" height="450px" alt="sushi_img">
      <div class="about_us">ABOUT US</div>

    </section>

    <section class="ourstory">
      <div class="family"> Kitchen Passport</div>
      <div class="tradition">OUR STORY</div>
      <div class="text_our_story">Dive into a culinary ocean with Hagurash, a treasure trove boasting over a million recipes! From Ethiopian delights to international adventures, embark on a flavor safari guided by passionate home cooks and culinary masters. Uncover hidden gems, whip up tried-and-true classics, or lose yourself in the creativity of endless recipe variations. Hagurash isn't just a website, it's a community, a kitchen companion, and your passport to delicious discoveries – all at your fingertips. So, grab your ingredients, ignite your passion, and savor the journey!</div>
    </section>
    
    <section class="Images">

      <div class="test_img"><img src="../../Resources/Images/mid1.jpg" alt="" class="img__mid"></div>
       <div class="test_img"><img src="../../Resources/Images/mid2.jpg" alt="" class="img__mid"></div>
      <div class="test_img"><img src="../../Resources/Images/mid3.jpg" alt="" class="img__mid"></div>
      <div class="test_img"><img src="../../Resources/Images/mid4.jpg" alt="" class="img__mid"></div>
      <div class="test_img"><img src="../../Resources/Images/mid5.jpg" alt="" class="img__mid"></div>
    </section>
    <div class="abb">
    <div class="about_out_tra">family tradition</div>
    <div class="about_out_tradition">Flavorful Feast</div>
    <div class="about_out_tradition_text">Dive into fiery stews (wats), tender tibs, and spongy injera. Ethiopian cuisine is a vibrant tapestry of flavors, textures, and traditions. Explore beyond the main course with gomen, alicha, and atkilt wat. Each bite, a journey into ancient recipes and vibrant culture. So grab your loved ones, share stories, and savor the delicious discoveries!</div>
  </div>
    <section class="middle_view">
      <img src="../../Resources/Images/doro-we.png" width="700px" class="img_middle_about" alt="">
     
      <div class="right_text"><div class="right_text_top">Traditional culture</div> Forget forks, embrace spice! Ethiopia's feasts unfold on tangy injera, a spongy canvas for fiery wats and melt-in-your-mouth tibs. Explore beyond, from vibrant gomen to earthy alicha, each bite a story of history and spice. Gather loved ones, share laughter, savor the journey.</div>
    </section>
    
    <section class="num_counting">
     <div class="num1_counting">
      <div class="num1 count" data-numFinal="9999">0</div>
     <div class="num_text">RECIPES</div>
     <div class="num_text_bottom">we have more to offer than you expect</div>
     </div>
     <div class="num2_counting">
      <div class="num2 count" data-numFinal="3246">0</div>
      <div class="num_text">CHEFS</div>
     <div class="num_text_bottom">we have more to offer than you expect</div>

     </div>
     <div class="num3_counting">
      <div class="num3 count" data-numFinal="5700">0</div>
      <div class="num_text">USERS</div>
     <div class="num_text_bottom">we have more to offer than you expect</div>

     </div>
    </section>

    </main>
    <footer>
      <div class="footer-wrap reveal">
        <div class="footer-container ">
          <div class="contact-info">
            <h3>Contact Us</h3>
            <p>Phone: <a href="tel:+251-123-456-789">+251-123-456-789</a></p>
            <p>Email: <a href="mailto:info@hagurash.com">info@hagurash.com</a></p>
            <p>Address: <a href="https://www.google.com/maps/place/Ethiopian+Skylight+Hotel+%7C+Bole+Dildey/@8.9795954,38.7496416,12z/data=!4m18!1m8!3m7!1s0x164b9b33a3569139:0xb505349b8c87fdd2!2sBole,+Addis+Ababa!3b1!8m2!3d8.9831138!4d38.8100855!16s%2Fm%2F0y6dm5m!3m8!1s0x164b853c14f0e2d5:0x32ce0404870c8088!5m2!4m1!1i2!8m2!3d8.9879715!4d38.7891861!16s%2Fg%2F11ffw4h0mz?entry=ttu" target="_blank">123 Main Street</a></p>
          </div>
          <div class="social-media">
            <h3>Follow Us</h3>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/hagurash" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/hagurash" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com/hagurash" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="about-us">
            <h3>About Us</h3>
            <p>Hagurash is a team of passionate AASTU students with enormous devotion for food and providing the best recipes in the world.</p>
          </div>
        </div>
        <div class="legal-info">
          <img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png" width="200px" height="200px"/>
          <p>&copy; 2023 Hagurash. All rights reserved.</p>
          <ul class="legal-links">
            <li><a href="privacy.html" target="_blank">Privacy Policy</a></li>
            <li><a href="terms.html" target="_blank">Terms of Service</a></li>
          </ul>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path d="M0,192L48,170.7C96,149,192,107,288,128C384,149,480,235,576,229.3C672,224,768,128,864,106.7C960,85,1056,139,1152,149.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </footer>
        
    
    <!-- <script>

        const menuBtn=document.querySelector('.nav-toggler')
        const menuClose=document.querySelector('.menu-close');
        const navBar=document.querySelector('nav');
        
        menuBtn.addEventListener('click', function () {
          menuClose.classList.remove('hidden');
          navBar.classList.remove('hidden');
          });

        menuClose.addEventListener('click', function () {
          menuClose.classList.add('hidden');
          navBar.classList.add('hidden');
        });
    </script> -->
    
    <script src="../controllers/Script/about.js"></script>   
</body>

</html>