<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hagurash is the ultimate food resource for the home cook, with kitchen tips, fun cooking videos, and, oh yeah, over 33,000 recipes.">
    <meta name="keywords" content="Food,Recipe,cooking,cook,cooking tip,">
    <link rel="stylesheet" href="../../Resources/CSS/styles.css"/>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="icon" type="image/png" href="../../Resources/Images/favicon.png">
    <script src="../controllers/Script/script.js" defer></script>
    <title>Hagurash</title>
  </head>
  <body>
    <header>
      <button class='nav-toggler'>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="header-top">
        <a href="#" class="logo"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
        <nav>
          <button class="menu-close hidden">&times;</button>
          <a href="#" class="logo hidden"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
          <ul class="nav">
            <li><a href="#"style="color:#ffbd59">Home</a></li>
            <li><a href="recipes.html">Recipes & Menus</a></li>
            <li><a href="video.html">Videos</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="hidden">
              <span class="follow">Follow <span style="color:#ffbd59">Hagurash!</span></span>
              <a href="https://www.facebook.com/hagurash"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/hagurash"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.twitter.com/hagurash"><i class="fa-brands fa-twitter"></i></a><br>
              <a href="login.html"><button class="sign-inn">Sign In</button></a>
            </div>
        </nav>
        <ul class="left">
          <li><button class="save"><a href="saved.html"><i class="fa-solid fa-heart"></i></i></a><span class="tool-tip">Sign in to see saved recipes</span></button></li>
          <li><button class="log-in"><i class="fa-solid fa-user"></i></button></li> 
          <li><button class="search"><i class="fa-solid fa-magnifying-glass"></i></button></li>
        </ul>  
      </div>
    </header>
    <main >
      <div class="hero">
        <h1>Every one can <span>cook</span></h1>
        <p>
          <span>HAGURASH</span> brings you more than 100,000 recipes world
          wide. You can search your favourite recipe and have fun cooking your favourite meal.
        </p>
        <button class="btn search">
          <i class="fa-solid fa-magnifying-glass"></i><strong>Search a Recipe </strong>
        </button>
      </div>
      <div class="hero__bg">
        <img src="../../Resources/Images/image-removebg.png" alt="happy family enjoying a meal together">
      </div>
    </main>
    <article class="brand">
      <div class="brand-wrap reveal">
        <div>
          <h2>Building a Digital <br>Brand</h2>
          <p>
            Our company has partnered with several michelin starred restaurants and hotels to ease acess to specialized recipes to its users. We are working to bring multiple palettes and cuisines across the world into the hands of everyone. With thousands of recipes across the world comes unparalled user experience. Our recipes offer multitudes of categories vegan, sweets,savory and a lot others.
          </p>
          <div class="cust-review">
            <h3>"I consider Hagurash a pragmatic push in the culinary culture of Ethiopia... </h3>
            <p>In my restaurant coming up with new dishes and recipes is in our to do list. Hagurash is my go-to when I need inspirations to create new cuisines. Their quality is un-matched, thier diversity coupled with the great platform they created is astonishing. They created this new bond between customers and culinary world which highly influenced the industry."</p>
            <img src="../../Resources/Images/Chef-Yohanis.jpg" alt="Chef Yohannis Gebereyesus">
            <span class="name"><a href="https://et.linkedin.com/in/yohanis-gebreyesus-hailemariam-83b59041"target="_blank">Chef &nbsp; Yohannis Gebereyesus</a></span><br>
            <span class="position">Chef, CEO of Antica, General Director in CY dynamics, Founder of multiple restuarants In Addis Ababa </span>
          </div>
        </div>
      <div class="bg-img">
        <img src="../../Resources/Images/bg-img2.avif" alt="blueberries on plate">
      </div>
    </article>
    <section class="recipe-display reveal">
      <div class="recipe-heading">
        <h4>Our Popular Recipes</h4>
      </div>
      <div class="recipe-slider">
        <div class="recipe-slider-track">
        </div>
      </div>
    </section>
    <section class="testimonial-section reveal">
      <h5 align="center">Client reviews</h5>
      <div class="testimonial-container">
          <div class="testimonial-wrapper">
            <div class="testimonial-content">
              <img src="../../Resources/Images/Chef-Yohanis.jpg" alt="chef yohanis">
              <p>"I consider Hagurash a pragmatic push in the culinary culture of Ethiopia... Their quality is unmatched, their diversity coupled with the great platform they created is astonishing."</p>
              <p>- Chef Yohannis Gebereyesus</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/henok.jpg" alt="chef Henok">
              <p>"Hagurash has become my go-to when I need inspirations to create new cuisines. Their recipes offer multitudes of categories and the user experience is unparalleled."</p>
              <p>- Chef Henok Zerihun</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/marcus.webp" alt="chef Marcus samuellson">
              <p>"As a professional chef, I highly recommend Hagurash for its extensive collection of recipes. It has greatly influenced the culinary industry and brought a new bond between customers and the culinary world."</p>
              <p>- Chef Marcus Samuelson</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/samra.jpg" alt="home cook samrawit">
              <p>"As a stay at home mother, I really enjoy Hagurash for its rigourous collection of recipes. It has helped me a lot in the kitchen and even beyond I am now even considering making my own recipes and posting them on hagurash."</p>
              <p>- Samrawit Teshome</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/gordon.jpg" alt="chef gourdon">
              <p>"I have spent almost 20 years in the culinary world and we have never had such an authentic and interactive platform where we could not just create but also enjoy what others have created."</p>
              <p>- Chef Gordon Ramsay</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/chen.webp" alt="chef chen">
              <p>"It has not been long since I have joined the industry as a professional but I don't think there is any platform out there that out-match what Hagurash is offering."</p>
              <p>- Chef Chen lee</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/mike.avif" alt="Mike">
             <p>"I am no proffessional I do cooking for my family and myself but the experiences I have had with hagurash is honestly impeccable."</p>
             <p>- Mike Grenfield</p>
            </div>
            <div class="testimonial-content">
              <img src="../../Resources/Images/Chef-Yohanis.jpg" alt="chef yohanis">
             <p>"As a professional chef, I highly recommend Hagurash for its extensive collection of recipes. It has greatly influenced the culinary industry and brought a new bond between customers and the culinary world."</p>
             <p>- Chef Michael Rodriguez</p>
            </div>
          </div>
    </div>
</div>
<div class="slider-controls">
  <button class="prev-btn">&#8249;</button>
  <button class="next-btn">&#8250;</button>
</div>
</section>

<footer>
  <div class="footer-wrap reveal">
    <div class="footer-container ">
      <div class="contact-info">
        <h3>Contact Us</h3>
        <p>Phone: <a href="tel:+251-123-456-789">+251-123-456-789</a></p>
        <p>Email: <a href="mailto:info@hagurash.com">info@hagurash.com</a></p>
        <p>Address: <a href="https://www.google.com/maps/place/Ethiopian+Skylight+Hotel+%7C+Bole+Dildey/@8.9795954,38.7496416,12z/data=!4m18!1m8!3m7!1s0x164b9b33a3569139:0xb505349b8c87fdd2!2sBole,+Addis+Ababa!3b1!8m2!3d8.9831138!4d38.8100855!16s%2Fm%2F0y6dm5m!3m8!1s0x164b853c14f0e2d5:0x32ce0404870c8088!5m2!4m1!1i2!8m2!3d8.9879715!4d38.7891861!16s%2Fg%2F11ffw4h0mz?entry=ttu" target="_blank">123 Main Street</a></p>
      </div>
      <div class="social-media">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/hagurash" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/hagurash" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/hagurash" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="about-us">
        <h3>About Us</h3>
        <p>Hagurash is a team of passionate AASTU students with enormous devotion for food and providing the best recipes in the world.</p>
      </div>
    </div>
    <div class="legal-info">
      <img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png" width="200px" height="200px"/>
      <p>&copy; 2023 Hagurash. All rights reserved.</p>
      <ul class="legal-links">
        <li><a href="privacy.html" target="_blank">Privacy Policy</a></li>
        <li><a href="terms.html" target="_blank">Terms of Service</a></li>
      </ul>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path d="M0,192L48,170.7C96,149,192,107,288,128C384,149,480,235,576,229.3C672,224,768,128,864,106.7C960,85,1056,139,1152,149.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </footer>
  </body>
</html>
