<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Resources/CSS/saved.css">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  <link rel="icon" href="../../Resources/Images/favicon.png">
  <script src="../controllers/Script/saved__script.js"defer></script>
  <title>Saved Recipes | Hagurash</title>
</head>
<body>
  <header>
    <button class='nav-toggler'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-top">
      <a href="#" class="logo"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
      <nav>
        <button class="menu-close hidden">&times;</button>
        <a href="#" class="logo hidden"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="recipes.html">Recipes & Menus</a></li>
          <li><a href="video.html">Videos</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          </ul>
          <div class="hidden">
            <span class="follow">Follow <span style="color:#ffbd59">Hagurash!</span></span>
            <a href="https://www.facebook.com/hagurash"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/hagurash"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/hagurash"><i class="fa-brands fa-twitter"></i></a><br>
            <a href="login.html"><button class="sign-inn">Sign In</button></a>
          </div>
      </nav>
      <ul class="left">
        <li><button class="save"><a href="saved.html"><i class="fa-solid fa-heart"></i></i></a><span class="tool-tip">Saved recipes</span></button></li>
        <li><button class="log__out">Log out</button></li>
        <li><button class="search"><a href="recipes.html"><i class="fa-solid fa-magnifying-glass"></i></a></button></li>
      </ul>  
    </div>
  </header>
  <main>
    <div class="container">
      <h1>My Saved Recipes</h1>
      <p>These recipes are saved to your account so that you can revisit them anytime. </p>

    </div>
  </main>
  <footer>
    <div class="footer-wrap reveal">
      <div class="footer-container ">
        <div class="contact-info">
          <h3>Contact Us</h3>
          <p>Phone: <a href="tel:+251-123-456-789">+251-123-456-789</a></p>
          <p>Email: <a href="mailto:info@hagurash.com">info@hagurash.com</a></p>
          <p>Address: <a href="https://www.google.com/maps/place/Ethiopian+Skylight+Hotel+%7C+Bole+Dildey/@8.9795954,38.7496416,12z/data=!4m18!1m8!3m7!1s0x164b9b33a3569139:0xb505349b8c87fdd2!2sBole,+Addis+Ababa!3b1!8m2!3d8.9831138!4d38.8100855!16s%2Fm%2F0y6dm5m!3m8!1s0x164b853c14f0e2d5:0x32ce0404870c8088!5m2!4m1!1i2!8m2!3d8.9879715!4d38.7891861!16s%2Fg%2F11ffw4h0mz?entry=ttu" target="_blank">123 Main Street</a></p>
        </div>
        <div class="social-media">
          <h3>Follow Us</h3>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/hagurash" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/hagurash" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/hagurash" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="about-us">
          <h3>About Us</h3>
          <p>Hagurash is a team of passionate AASTU students with enormous devotion for food and providing the best recipes in the world.</p>
        </div>
      </div>
      <div class="legal-info">
        <img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png" width="200px" height="200px"/>
        <p>&copy; 2023 Hagurash. All rights reserved.</p>
        <ul class="legal-links">
          <li><a href="privacy.html" target="_blank">Privacy Policy</a></li>
          <li><a href="terms.html" target="_blank">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path d="M0,192L48,170.7C96,149,192,107,288,128C384,149,480,235,576,229.3C672,224,768,128,864,106.7C960,85,1056,139,1152,149.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
      </footer>
</body>
</html>