<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Resources/CSS/video.css">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  <link rel="icon" type="image/png" href="../../Resources/Images/favicon.png">
  <script src="../controllers/Script/video__script.js" defer></script>
  <title>Videos | Hagurash</title>
</head>
<body>
  <header>
    <button class='nav-toggler'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-top">
      <a href="#" class="logo"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
      <nav>
        <button class="menu-close hidden">&times;</button>
        <a href="#" class="logo hidden"><img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png"/></a>
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="recipes.html">Recipes & Menus</a></li>
          <li><a href="video.html" style="color:#ffbd59">Videos</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          </ul>
          <div class="hidden">
            <span class="follow">Follow <span style="color:#ffbd59">Hagurash!</span></span>
            <a href="https://www.facebook.com/hagurash"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/hagurash"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/hagurash"><i class="fa-brands fa-twitter"></i></a><br>
            <a href="login.html"><button class="sign-inn">Sign In</button></a>
          </div>
      </nav>
      <ul class="left">
        <li><button class="save"><a href="saved.html"><i class="fa-solid fa-heart"></i></i></a><span class="tool-tip">Sign in to see saved recipes</span></button></li>
        <li><button class="log__out hidden"> Log out</button></li>
        <li><button class="search"><a href="recipes.html"><i class="fa-solid fa-magnifying-glass"></i></a></button></li>
      </ul>  
    </div>
  </header>
  <main>
    <h1>Videos</h1>
    <div class="container">
      <div class="hero">
        <div class="hero__vid">
          <!-- <video src="../../Resources/Videos/chef-yohannis cooking.mp4" data-src="../../Resources/Images/yoh__placeholder.png" controls poster="../../Resources/Images/yoh__placeholder.png"></video> -->
          <svg class="icon icon-playlist hidden" width="15" height="14" viewBox="0 0 15 14" fill="#000" xmlns="http://www.w3.org/2000/svg"><title>Playlist</title><path d="M0 4H12V6H0V4ZM0 0H12V2H0V0ZM0 8H8V10H0V8ZM10 8V14L15 11L10 8Z" fill="black"></path></svg>
          <iframe src="https://www.youtube.com/embed/vYcUd-CVVCI" data-src="../../Resources/Images/yoh__placeholder.png"></iframe>
        </div>
        <h2 class="vid__title">Paella dish Fusioned With Ethiopian Dish</h2>
        <span>About</span>
        <p>
          You can make a delicious, authentic Paella–the most popular dish of Spain–in your own kitchen with simple ingredients like rice, saffron, vegetables, chicken, and seafood. If you love cooking International food, you will fall in love with this comforting dish.When making a spicy Paella dish at home you need to make a lot of decisions. Picking your chicken filet, the rice, sauces, toppings, condiments, and more—the Paella has to work in harmony with the Ethiopian chicken to produce the perfect bite.
        </p>
      </div>
      <span class="line"></span>
      <div class="up__next">
        <div class="up__next_head">
          <p>Up next</p>
          <p class="hide">Hide</p>
        </div>
        <div class="vid__wrap">
          <div class="next__video" data-src="https://www.youtube.com/embed/-xFR_daRIyw">
            <img class="vidd" src="../../Resources/Images/kitfo__placeholder.png" alt="kitfo">
            <p class="title">Making kitfo in your own kitchen</p>
          </div>
           <div class="next__video" data-src="https://www.youtube.com/embed/vI5w-fK25w4">
            <img class="vidd" src="../../Resources/Images/choclate__placeholder.jpg" alt="choclate">
            <p class="title">Home made choclate moose cake</p>
          </div>
          <div class="next__video" data-src="https://www.youtube.com/embed/iU3G37y-12M">
            <img class="vidd" src="../../Resources/Images/tibs.jpg" alt="tibs">
            <p class="title">Making tibs with simrret</p>
          </div>
          <div class="next__video" data-src="https://www.youtube.com/embed/rR9wq5uN_q8">
            <img class="vidd" src="../../Resources/Images/salmon__placeholder.webp" alt="salmon">
            <p class="title">Salmon with chef Gordon</p>
          </div>
          <div class="next__video" data-src="https://www.youtube.com/embed/YDB4Vg_jLSg">
            <img class="vidd" src="../../Resources/Images/steak__placeholder.jpg" alt="steak">
            <p class="title">Grilled steak with chef Joe</p>
          </div>
          <div class="next__video" data-src="https://www.youtube.com/embed/b3-Hp4Al5vk">
            <img class="vidd" src="https://cookingorgeous.com/wp-content/uploads/2021/06/lamb-shish-kebab-20-500x500.jpg" alt="kebab">
            <p class="title">Turkish Kebab</p>
          </div>
          <div class="next__video" data-src="https://www.youtube.com/embed/hpAJ6HkRYsU">
            <img class="vidd" src="https://aaronandclaire.com/wp-content/uploads/2022/12/b1-2.jpg" alt="salmon">
            <p class="title">Kimbap step by Step</p>
          </div>
        </div>
      </div>
    </div>
    <div class="trending">
      <h2>Trending Videos</h2>
      <div class="trending__container">
        <div class="trending__videos" data-translate="0">
        </div>
        <div class="slidder__btn">
          <i class="fa-solid fa-angle-left"></i>
          <i class="fa-solid fa-angle-right"></i>
        </div>
        </div>
    </div>
  </main>
  <footer>
    <div class="footer-wrap reveal">
      <div class="footer-container ">
        <div class="contact-info">
          <h3>Contact Us</h3>
          <p>Phone: <a href="tel:+251-123-456-789">+251-123-456-789</a></p>
          <p>Email: <a href="mailto:info@hagurash.com">info@hagurash.com</a></p>
          <p>Address: <a href="https://www.google.com/maps/place/Ethiopian+Skylight+Hotel+%7C+Bole+Dildey/@8.9795954,38.7496416,12z/data=!4m18!1m8!3m7!1s0x164b9b33a3569139:0xb505349b8c87fdd2!2sBole,+Addis+Ababa!3b1!8m2!3d8.9831138!4d38.8100855!16s%2Fm%2F0y6dm5m!3m8!1s0x164b853c14f0e2d5:0x32ce0404870c8088!5m2!4m1!1i2!8m2!3d8.9879715!4d38.7891861!16s%2Fg%2F11ffw4h0mz?entry=ttu" target="_blank">123 Main Street</a></p>
        </div>
        <div class="social-media">
          <h3>Follow Us</h3>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/hagurash" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/hagurash" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/hagurash" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="about-us">
          <h3>About Us</h3>
          <p>Hagurash is a team of passionate AASTU students with enormous devotion for food and providing the best recipes in the world.</p>
        </div>
      </div>
      <div class="legal-info">
        <img src="../../Resources/Images/Logo.png" alt="Hagurash Logo.png" width="200px" height="200px"/>
        <p>&copy; 2023 Hagurash. All rights reserved.</p>
        <ul class="legal-links">
          <li><a href="privacy.html" target="_blank">Privacy Policy</a></li>
          <li><a href="terms.html" target="_blank">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path d="M0,192L48,170.7C96,149,192,107,288,128C384,149,480,235,576,229.3C672,224,768,128,864,106.7C960,85,1056,139,1152,149.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  </footer>
</body>
</html>